<nav id="nav" role="navigation">
  <div class="logo">
    <a href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.svg" | relative_url }}"></a>
  </div>

  <% @structure.each do |category| %>
    <span class='title'><%= category[0] %></span>
    <ul>
    <% category[1].each do |item| %>
      <li class='<%= item['filename'] %> {% if page.id == '<%= item['filename'] %>' %} active{% endif%}'>
        <a href="/<%= @pagespath %>/<%= item['filename'] %>.html">
          <%= item['title'] %>
          <% if !item['tag'].blank? %>
            <span tag='<%= item['tag'].downcase.sub(" ", "") %>' class='tag <%= item['tag'].downcase.sub(" ", "") %>'>
              <%= item['tag'] %>
            </span>
          <% end %>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</nav>